# API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Privy
NEXT_PUBLIC_PRIVY_APP_ID=*********************ncmu

# Chain IDs
NEXT_PUBLIC_BASE_CHAIN_ID=8453
NEXT_PUBLIC_CELO_CHAIN_ID=42220
NEXT_PUBLIC_ETH_CHAIN_ID=1
